* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Ubuntu", sans-serif;
}

body {
    background: url("images/background.png");
    background-size: 100%;
    width: 100%;
    height: 100%;
}

a {
    text-decoration: none;
}

header {
    background: rgba(0, 0, 0, 0.4);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    height: 59px;
}

.logo-title {
    color: #fff;
    transition: 0.3s;
}

.logo-title:hover {
    color: #3CB878;
    transition: 0.3s;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 1200px;
    margin: 0 auto;
}

.registration-wrapper {
    display: flex;
    width: 400px;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    font-weight: 400;
}

.header-image {
    transition: 0.3s;
}

.header-image:hover {
    filter: brightness(0) saturate(100%) invert(60%) sepia(49%) saturate(528%) hue-rotate(96deg) brightness(93%) contrast(86%);
    transition: 0.3s;
}

.registration-wrapper .log-in-link {
    color: #fff;
    transition: 0.3s;
}

.registration-wrapper .log-in-link:hover {
    color: #3CB878;
    border-bottom: 1px solid #3CB878;
    transition: 0.3s;
}

.registration-wrapper p::before {
    content: "";
    border: 1px solid #BEBEBE;
    opacity: 0.2;
    margin-right: 20px;
}

main {
    position: absolute;
    top: 54.5%;
    left: 50%;
    background: #FFFFFF;
    width: 450px;
    height: 590px;
    transform: translate(-50%, -50%);
}

.main-wrapper {
    width: 325px;
    margin: 29px auto;
}

.square-absolut {
    position: absolute;
    border: 1px solid #3CB878;
    background: #3CB878;
    top: 32px;
    width: 18px;
    height: 18px;
}

.sign-up-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.sign-up-wrapper p {
    font-weight: 400;
    font-size: 20px;
}

.sign-up-wrapper a {
    font-weight: 400;
    font-size: 14px;
    color: #3CB878;

}

.sign-up-wrapper a:hover {
    border-bottom: 1px solid #3CB878;
}

.button-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px;
}

.main-button {
    color: #fff;
    width: 160px;
    height: 48px;
    border-radius: 4px;
}

.main-button p {
    font-weight: 400;
    font-size: 16px;
}

.facebook {
    position: relative;
    background: #305DB8;
    transition: 0.3s;
}

.facebook > img {
    position: absolute;
    left: 17px;
    top: 12px
}

.facebook:hover {
    background: #022263;
    transition: 0.3s;
}


.facebook p::before {
    content: "";
    width: 1px;
    height: 28px;
    padding-right: 18px;
    border-left: 1px solid #2B0D09;
    opacity: 0.1;
}

.facebook p {
    position: absolute;
    display: flex;
    left: 48px;
    align-items: center;
    top: 10px;
}

.google {
    position: relative;
    background: #DF4A32;
    transition: 0.3s;
}

.google:hover {
    background: #AB1F09;
    transition: 0.3s;
}

.google > img {
    position: absolute;
    left: 12px;
    top: 15px;
}

.google p {
    display: flex;
    position: absolute;
    align-items: center;
    left: 49px;
    top: 10px;
}

.google p::before {
    content: "";
    border-left: 1px solid #2B0D09;
    opacity: 0.1;
    padding-right: 30px;
    height: 28px;
}


.separator {
    display: flex;
    align-items: center;
    color: #848484;
    margin-bottom: 11px;
}

.separator::before,
.separator::after {
    content: "";
    flex: 1;
    border-bottom: 1px solid #F2F2F2;
    padding-top: 4px;
}

.registration-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.input-text {
    padding-left: 18px;
    height: 45px;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
    width: 100%;
}

.input-text:focus {
    background: #FFFFFF;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.21);
    outline: none;
    transition: 0.3s;
}

.input-text:focus::placeholder {
    color: #000;
}

.agreement-link {
    font-weight: 400;
    color: #3CB878;
}

.agreement-link:hover {
    border-bottom: 1px solid #3CB878;
}

.checkbox-line {
    display: flex;
    align-items: center;
    font-size: 14px;
    gap: 8px;
    width: 80%;
}

.checkbox-line:hover {
    cursor: pointer;
}

.input-checkbox {
    position: relative;
    width: 17px;
    height: 17px;
}

.input-checkbox:hover {
    cursor: pointer;
}

.input-checkbox::before {
    content: "";
    display: block;
    position: absolute;
    box-sizing: border-box;
    border: 1px solid #F2F2F2;
    width: 100%;
    height: 100%;
    background-color: #fff;
}

.input-checkbox:checked::before {
    background-image: url("images/tick-image.png");
    background-repeat: no-repeat;
    background-size: 14px;
}

input[type=submit] {
    display: none;
}

.submit-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 45px;
    background-color: #01813F;
    border: none;
    border-radius: 4px;
    color: #fff;
    transition: 0.3s;
}

.submit-button:hover {
    cursor: pointer;
    opacity: 0.8;
    transition: 0.3s;
}

.submit-button:active {
    opacity: 0.6;
}

